torch --index-url https://download.pytorch.org/whl/cu117
torchvision --index-url https://download.pytorch.org/whl/cu117
torchaudio --index-url https://download.pytorch.org/whl/cu117
numpy
pandas
matplotlib
tqdm
scikit-image
scikit-learn
opencv-python